<div class="back">
  <div class="container">
    <header>
      <h1>Regex Validation</h1>
      <div class="links">
        <a href="https://github.com/VictorMuniz7" target="_blank"><i class="fa-brands fa-github"></i></a>
        <h1>App</h1>
        <a href="https://www.linkedin.com/in/victor-muniz-236842267/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </header>
    <div class="register-div">
      <div class="input-div">
        <label>Username<br><input type="text" spellcheck="false" (keyup)="validateUsername(username.value)" #username></label>
        <div class="error-div">
          <p [hidden]="usernameError">Enter only letters without space</p>
        </div>
      </div>
      <div class="input-div">
        <label>Email<br><input type="email" (keyup)="validateEmail(email.value)" #email></label>
        <div class="error-div">
          <p [hidden]="emailError">Enter a valid email</p>
        </div>
      </div>
      <div class="input-div">
        <label>Password<br><input type="password" (keyup)="validatePassword(password.value)" #password></label>
        <div class="requirements-div">
          <p [style.color]="capitalRequirementColor">Password must have five(5) capital letters <i [ngClass]="capitalIcon"></i></p>
          <p [style.color]="symbolRequirementColor">Password must have six(6) symbols <i [ngClass]="symbolIcon"></i></p>
          <p [style.color]="hyphenRequirementColor">Password must have two hyphens (-) <i [ngClass]="hyphenIcon"></i></p>
        </div>
      </div>
      <button id="submitBtn" [disabled]="disableButton()">Submit</button>
    </div>
  </div>
</div>
